<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirect root to public/
    RewriteRule ^$ public/ [L]
    
    # Redirect all other requests to public/ if the file doesn't exist in root
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
