<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Don't rewrite files or directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Rewrite everything else to index.php?route=$1
    RewriteRule ^(.*)$ index.php?route=$1 [QSA,L]
</IfModule>
